<div class="container mt-4">
    <button type="button" class="btn btn-primary m-1" routerLink="/create-user">Add user</button>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr,no</th>
        <th scope="col">User name</th>
        <th scope="col">Gender</th>
        <th scope="col">phone no</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>